body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Segoe UI, sans-serif;
}

h1 {
    text-indent: 1em;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    font-size: 1em;
    padding: .5em 1em;
    border: 1px solid #eee;
}

li:hover {
    border: 1px solid #333;
    border-radius: 2em;
    transition: .25s;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    display: block;
    text-decoration: none;
    color: #222;
    background: #eee;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px #bbb;
    width: 300px;
    max-width: 100vw;
    height: 300px;
}

a:hover {
    background: #dedede;
    transition: .2s;
}

work {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

capture {
    display: block;
}

capture.none {
    background: #aaa;
    width: 300px;
    height: 150px;
}

explain {
    display: block;
    width: 300px;
    max-width: 80vw;
    padding: 8px;
}

sitename {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

siteinfo {
    display: block;
    font-weight: 100;
}

siteurl {
    display: block;
    font-weight: normal;
    font-size: 90%;
}

sitetag {
    display: flex;
}

cat {
    display: block;
    background: #eee;
    border-radius: 1em;
    padding: 4px 8px;
}

footer {
    text-align: center;
    margin: 12px;
}

#md {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: .75em;
}

body.dark {
    background: #333;
}

.dark h1 {
    color: #ddd;
}

.dark li {
    border-color: #333;
    color: #ddd;
}

.dark li:hover {
    border-color: #ddd;
}

.dark a {
    background: #888;
    box-shadow: none;
}

@media screen and (max-width: 900px) {
    ul {
        flex-direction: column;
        align-items: flex-end;
    }

    work {
        flex-direction: column;
    }
}
